/* ==UserStyle==
@name 					DuckDuckGo DeepDark (Override)
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         artdev
@var          	color color-bg "Background color" #181818
@var          	color color-url "URL color" #62b56e
@var          	color color-result "Results color" #fafafa
==/UserStyle== */

@-moz-document domain("duckduckgo.com") {
	:root {
		--main-color: #4f8cc9;
		--main-background: #222;
		--second-background: #2c2c2c;
		--hover-background:#232323;
		--main-text:#dcdcdc;
		--dimmer-text:#ccc;
		--shadow: 0 1px 0.5px rgba(56,60,74,.3);
		
		/*--bg-header: #181818;*/
		--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}
	
	body, input, select, textarea {
		font-family: var(--font-family);
	}
	
	#header_wrapper {
		background-color: var(--color-bg) !important;
	}
	.zcm__link:hover, .zcm__link:active, .zcm__link.is-active {
		background-color: unset !important;
	}
	
	.results,	.result__title, .result a.result__a {
		color: var(--main-color) !important;
	}
	
	.result__url > * {
		color: var(--color-url) !important;
	}
	
	.result__snippet b {
		color: var(--color-result) !important;
	}
	
	.results--main .result:not(.result--ad).highlight	{
		background-color: unset !important;
		border-color: transparent !important;
		color: unset !important;
		box-shadow: unset !important;
	}
}